
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin:0;
}
#search_svg:hover,
#search_svg:focus {  fill: "red"; }

button:hover,
button:focus { opacity: 0.8; }

@media  (min-width : 750px) {
      .frontpage_image { width : "30%"; }
}